IsaacGym*/
*.mp4
*.pkl
*.usd
*.npy
*.egg-info/
*.zip

*__pycache__/
checkpoints/
outputs/
outputs*/
tb_logs/
wandb/

direct
turbo
rl_games
/hydroshear
recorded_frames/

mmint_indalo/
se3fots/
turbo/
IsaacLab/
IsaacLab*